<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>







  



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CipVamprofile -->
      <package
            uri="http:///CipVamprofile.ecore"
            class="CipVamprofile.CipVamprofilePackage"
            genModel="resources/CipVamprofile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CipVamprofile -->
      <package
            uri="http:///CipVamprofile/CipVamLibrary/BasicDT.ecore"
            class="CipVamprofile.CipVamLibrary.BasicDT.BasicDTPackage"
            genModel="resources/CipVamprofile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CipVamprofile -->
      <package
            uri="http:///CipVamprofile/CipVamLibrary/GeometricDT.ecore"
            class="CipVamprofile.CipVamLibrary.GeometricDT.GeometricDTPackage"
            genModel="resources/CipVamprofile.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CipVamprofile -->
      <package
            uri="http:///CipVamprofile/CipVamLibrary/StructuredDT.ecore"
            class="CipVamprofile.CipVamLibrary.StructuredDT.StructuredDTPackage"
            genModel="resources/CipVamprofile.genmodel"/>
   </extension>
</plugin>
